@import "./utilities/mixins";
@import "./base/reset";
@import "./components/container";
@import "./components/section";
@import "./layout/team";
@import "./components/header";
@import "./components/section1";