.section1{
    margin-top: 235px;
}

.textcont1{
    width: 475px;
}

.otherheadings{
    margin-bottom: 35px;
    color: #4D533C;
        font-family: Poppins;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 46px;
        /* 127.778% */
}

.sometext{
    margin-bottom: 35px;
    color: rgba(33, 56, 66, 0.60);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.hover_grey:hover {
    color: #D4D6D4;
}

.hover_yellow{
    color: #D4D6D4;
}